# These secrets aren't actually real, but it is here to show what I am configuring
# locally for the application to actually function

# Better Auth - Configuration
BETTER_AUTH_SECRET=<auth key>

# Gateway Configuration
AI_GATEWAY_BASE_URL=http://localhost:8080
AI_GATEWAY_API_KEY=<api key>

# Payments and tracking
AUTUMN_SECRET_KEY=am_sk_test_<example hash>

API_PORT=<number>